*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
}

h1{
    color: hsl(229, 23%, 23%);
    font-size: 1.1rem; 
    font-weight: 700;
    display: inline;
    margin-bottom: 10px;
}

h1:nth-child(2){
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    margin-left: 5px;
}

h2{
    color: hsl(229, 23%, 23%);
    font-size: 1.1rem; 
    font-weight: 700;
    text-align: center;
 } 

p{
    color: hsl(227, 10%, 46%);
    font-size: 0.875rem;
    font-weight: 400;  
}

.p-1{
    font-size: 0.5625rem;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-position: right 30vw bottom 55vh, left 33vw top 49vh;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 502px){
    .flex-container{
        background-position: right 52vw bottom 35vh, left 50vw top 49vh;
    }
}

.card{
    border-radius: 15px;
    background-color: white;
    background-image: url("images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: 350px 139px;  
    min-width: 344px;
    height: 373px;
}

.card-img{
    border-radius: 50%;
    max-width: 100%;
    display: block;
    margin: 85px auto 15px auto;
    border: 6px solid white;
}

.card-header{
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.8rem;
}

.card-footer{
    border-top: 0.1px solid hsla(227, 10%, 46%,0.2);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.card-footer-text{
    flex: 10%;
    height: 7vh;
    text-align: center;
    line-height: 1.4rem;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    width: 100%;
    position: absolute;
    color: white;;
    bottom: 1%;
} 

.attribution a { 
    color: hsl(229, 23%, 23%);
} 
